/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: grayscale($color: #c6bdbd);
    font-family: 'Courier New', Courier, monospace;
}

h5{
    font-weight: bold;
    
}